%h1 Kibbles n' Bites
%br
%h2 Menu
%hr
%h3 Kitty Appetizers
%hr

- @menu_items.each do |menu_item|
  %ul
    %strong= menu_item.name
    %li= menu_item.description
    %li= menu_item.price 
    %span SEK
    %li= menu_item.animal
    = link_to(add_to_cart(menu_item, 1, 'Add to Order'))

%hr



- if(@cartify_order_items != nil)
  = @cartify_order_items.each do |cartify_order_items|
    %p= cartify_order_items.quantity
    %p= cartify_order_items.unit_price
    %p= cartify_order_items.menuitem_id
- else 
  = "Your cart is empty!"


= link_to(checkout_link)
