#splash
  %h1 Kibbles n' Bites
  %hr

#menu 
  %h2 Menu
  %hr

.category-title
  %h3 Appetizers

.category-container
  .category 
    .category-title
      %h3 Nice Kitties
    - @products.each do |product|
      - if product.animal === 'cat' && product.category === 'Appetizer'
        %ul
          %strong= product.name
          %li= product.description
          %li= product.price 
          %span €
          %li= product.animal
          = link_to(add_to_cart(product, 1, 'Add to Order'))

  .category
    .category-title
      %h3 Good Dogs
    - @products.each do |product|
      - if product.animal === 'dog' && product.category === 'Appetizer'
        %ul
          %strong= product.name
          %li= product.description
          %li= product.price 
          %span €
          %li= product.animal
          = link_to(add_to_cart(product, 1, 'Add to Order'))

.category-title
  %h3 Entrees

.category-container
  .category 
    .category-title
      %h3 Nice Kitties
    - @products.each do |product|
      - if product.animal === 'cat' && product.category === 'Entree'
        %ul
          %strong= product.name
          %li= product.description
          %li= product.price 
          %span €
          %li= product.animal
          = link_to(add_to_cart(product, 1, 'Add to Order'))

  .category
    .category-title
      %h3 Good Dogs
    - @products.each do |product|
      - if product.animal === 'dog' && product.category === 'Entree'
        %ul
          %strong= product.name
          %li= product.description
          %li= product.price 
          %span €
          %li= product.animal
          = link_to(add_to_cart(product, 1, 'Add to Order'))

.category-title
  %h3 Desserts

.category-container
  .category 
    .category-title
      %h3 Nice Kitties
    - @products.each do |product|
      - if product.animal === 'cat' && product.category === 'Dessert'
        %ul
          %strong= product.name
          %li= product.description
          %li= product.price 
          %span €
          %li= product.animal
          = link_to(add_to_cart(product, 1, 'Add to Order'))

  .category
    .category-title
      %h3 Good Dogs
    - @products.each do |product|
      - if product.animal === 'dog' && product.category === 'Dessert'
        %ul
          %strong= product.name
          %li= product.description
          %li= product.price 
          %span €
          %li= product.animal
          = link_to(add_to_cart(product, 1, 'Add to Order'))

%hr

%h2 Order List

= link_to(checkout_link)